max=100%
color= #007437
gray=#EEEEEE
d=#000
t=#fff
#khung
		float: left
		height: max
		width: max
	
		.v1
			float: left
			width: max
			height: 20px
			background: gray
		
			ul
					margin: 0
					padding: 0
					margin-left: max*0.5
					li 
							list-style: none
							
							a
									float: left
									display: block
									font-size: 12px
									padding-left: 10px
									text-decoration: none
									line-height: 20px
									margin-top: 0px
									color: d
									img
										width: 20px
										height: 12px
										margin-top: 0
		.v2

				float: left
				width: max
				height: 120px
				background: color
				border-bottom : 1px solid t
				img
						float: left
						width: max*0.2
						height: 130px
						margin-left: 15%
						margin-top:0.1%
				a
					list-style: none
					h1
							float: left
							display: block
							height:max
							width: max*0.5
							text-align: center
							color: t
							line-height: 120px
							
		.v3
				float: left
				width: max
				height: 40px
				background: color
				ul
						margin:0
						padding: 0
						margin-left 5%;
					 	li
					 			list-style: none
					 			a
							 			text-decoration: none
							 			float: left
							 			display: block
							 			font-size: 14px
							 			padding-left: 20px
							 			color: t
							 			padding-top: 15px
		.khung2
				float: left
				width: max*0.7
				height: 1340px
				margin-left: max*0.15
				margin-top: 20px
				
				
				.slides
						float: left
						width: max
						height: 300px
					
						cursor: copy	
						
						.carousel
								float: left
								width: max
								height: max
								border: red
								img
										float: left
										width:800px
										height:280px
		.v4
				float: left
				width: max
				height: 320px
				.bx4
						float: left
						width: 22%
						height: max
						margin-top: 20px
						margin-left: max*0.04
						
						b	
							p
									display: block
									
									text-align: left
									color: color
									border-bottom 3px solid gray
						.h1
								float: left
								width: max
								height: 280px
								ul
										margin: 0
										padding: 0
										li
											list-style: none
											a 
												text-decoration: none
												float: left
												display: block
												width: max
												font-size: 12px
												padding-left: 20px
												color: d
												padding-top: 15px
												&:hover 
													color: red
													text-decoration: none

		.v5
			float: left
			width: max
			height: 80px
			margin-bottom: 20px
			.bx5
				float: left
				width: max*0.25
				height: max
				border-left: 2px solid t
				#bx51
					float: left
					width: max
					height: max*0.5
					background:color
					p
						float: left
						display: block
						width: max
						height:max
						text-align: center
						line-height: 40px
						color: t
				#bx5
					float: left
					width: max
					height: max*0.5
					a
						float: left
						display: block
						width: max
						height:max
						font-size: 14px
						list-style: none
						text-decoration: none
						color: color
						text-align: center
						line-height: 40px
						&:hover
							color: red;
							background: gray
							text-decoration: none

		.v6
			margin-top: 20px
			float: left
			width: max*0.7
			height: 600px
			background: pink
			.bx61
				float: left
				width: max
				height: max*0.05
				background: gray
				padding-left: 20px
				padding-top: 3px
			.bx62
				float: left
				width: max
				height:max*0.4
				background: gray
				.h6
					float: left
					width: max*0.32
					height: max
					margin-left: max*0.02
					img
						float: left 
						width: max*0.8
						height: max*0.6
						margin-left: max*0.1
					.h61
						float: left
						width: max
						height:max*0.4
						a

							float: left
							display: block
							width: max
							height: max
							font-size: 14px
							padding-top: 20px
							padding-left: 10%
							padding-right: 10%
							text-decoration: none
							color: d
							&:hover
								color: red
								text-decoration: none
			.h62
					float: left
					width: max
					height: max*0.05
					background: gray
					border-top 1px solid t
					a
						float: right
						display: block
						width: @max
						height: @max
						font-size: 12px
						color: @d
						text-align: right
						line-height: 30px
						padding-right: 10px
						&:hover
							color: red
							text-decoration: none
		.v7
			float: left
			width: max*0.3
			height: 600px
			border-left: 1px solid t
			.bx7
				float: left
				width: max
				height:max*0.5
				background: gray
				margin-top: 20px
				h5
					float: left
					display: block
					width: max
					height:max*0.05
					padding-left: 20px
					padding-top: 5px
				ul
					padding: 0
					margin: 0
					li
							list-style: none
							a
								float: left
								padding-top: 20px
								font-size: 10px
								color: d
								text-decoration: none
								padding-left: 10px;
								&:hover
									color: red
									text-decoration: none
			.bx72
				float: left
				width: max
				height:max*0.5
				background: gray
				h5
					float: left
					width: max
					height 50px
					display: block
					padding-left: 10px
					line-height: 50px
	.khung3
		float: left
		width: max
		height: 200px
		background: color
		.box3
			float: left
			width: max*0.7
			height: max
			margin-left: max*0.15	
			.bx3 
				float: left
				width: max
				height:max*0.2
				color: t
				padding-top: 10px
				padding-left: 20px	
			.bx32
				float: left
				width: max*0.5
				height:max*0.8
				 ul 
					margin: 0
					padding: 0
					li 
						list-style: none
						a
							float: left
							display: block
							width: @max/2
							height: 10px
							color: #fff
							padding-top: 20px
							font-size: 14px
							padding-left: 50px
							text-decoration: none
							&:hover
								color: red
								text-decoration: none
	.khung4
		float: left
		width: max
		height: 100px
		#box4
			float: left
			width:max*0.7
			height:max 
			background:t
			margin-left:max*0.15
			.bx4
				float: left
				width: max*0.5
				height:max
				p
					font-size: 14px
					padding-top: 20px
					padding-left: 20px
				
		

@media all and (max-width: 720px)
	#khung
			.v1
				ul
						margin-left: max*0.1
			.v2
				img
					margin-left: max*0.05
				h1
							font-size: 27px
			.v3
					ul
						li
							a
								font-size: 12px
								padding-left: 10px
			.khung2
					height: 1460px
					.slides
						display: none
					.v4
								height: 740px
								p
									font-size: 14px
					.bx4
									width: max*0.45
									height:max*0.5
									margin-left: max*0.05
					.v5
								
						height: 80px
						.b2
							display:none
						.bx5
								width: 50%
								height: 100%
										
										
							#bx51
								height: 50%
								p
											margin-top: 10px
											line-height: 20px
							#bx5
												
								a
									font-size: 10px
					.v6
							width: max
						.bx62
							.h6
								.h61
									a
										font-size: 10px
									
					.v7 
						display: none
			.khung3
					height: 150px
					.box3
						.bx3
							font-size: 8px
						.bx32
										ul
											li
												a
													font-size: 9px
			.khung4
						
					#box4
				
						.bx4
				
							p
									font-size: 8px
									padding-top: 20px
									padding-left: 10px
@media all and (max-width: 420px)
	#khung
			.v1
				ul
					li
						a
							font-size: 10px
			.v2
				img
					margin-left: 50px
				h1
							font-size: 15px
			.v3
					ul
						li
							a
								font-size: 5px
								padding-left: 5px
		.khung2
				height: 1320px
				.slides
					display: none
				.v4
					height: 600px
		
					.bx4
						width: max*0.45
						height: max*0.5
						margin-left: max*0.05
						
						p
							font-size: 12px
						.h1
							ul
								li
									a
										font-size: 8px
				.v5
							
						.bx5
							width: 50%
							height: 100%
							background: red
										
										
							#bx51
								height: 50%
								p
									margin-top: 0px
									padding-top: 5px
									font-size: 10px
									line-height: 30px
							#bx5
								a
									background: gray
									font-size: 8px
									line-height: 40px
				.v6
					.bx62
						.h6
							.h61
								p
									font-size: 8px;
		.khung3
					display: none

	






						







				
				



			

		
									
						